<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('partials/meta') %> 
        <%- include('partials/fonts') %>
        <%- include('partials/icons') %> 
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/headings.css">
        <link rel="stylesheet" href="/css/links.css">
        <link rel="stylesheet" href="/css/body.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
    <body>
        <h1><%= action %></h1>
        <form method="POST">
            <% if (action ==="Sign Up") { %>
                <label for="name">Name *</label>
                <input type="text" name="name" id="name" required>
            <% } %>
            <label for="email">Email *</label>
            <input type="email" name="email" id="email" required>
            <label for="pass">Password *</label>
            <input type="password" name="pass" id="pass" minlength="10" maxlength="25" required>
            <p id="message">
                <% if (error) { %>
                    <%= error %><br>
                <% } if (action === "Log In") { %>
                    <a href="/recovery">Forgot your password?</a>
                <% } %> 
            </p>
            <input type="submit" value="<%= action %>">
        </form>
        <% if (action == "Sign Up") { %>
            <p>Already have an account? <a href="/login">Log In</a></p>
        <% } else if (action === "Log In") { %>
            <p>Don't have an account yet? <a href="/signup">Sign Up</a></p>
        <% } %>
    </body>
</html>