<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Bletchley Technological Solutions Inc.">
        <meta name="title" content="Success - Lean Budget">
        <title>Success - Lean Budget</title>
        <%- include('partials/fonts') %>
        <%- include('partials/icons') %> 
        <%- include('partials/styles') %> 
        <link rel="stylesheet" href="/css/success.css">
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <i class="bi-person-check-fill"></i>
            <h1>Your account has been successfully created</h1>
            <p>You'll be redirected to your personal profile in a moment</p>
        </main>
        <%- include('partials/footer') %> 
        <%- include('partials/copyright') %> 
        <script src="/js/success.js"></script>
    </body>
</html>